<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-content class="content-stable">
    <div *ngIf="correspondence">
      <div *ngFor="let bulk of correspondence">
        <div *ngIf="bulk.type=='own'">
          You said: <br>
          {{bulk.response}}
        </div>
        <div *ngIf="bulk.type=='bot'">
          Bot said: <br>
          <div *ngFor="let reply of bulk.responses">
            <div *ngIf="reply.type=='simple'">
              {{reply.response}}
            </div>
            <div *ngIf="reply.type=='card'">
              <app-basic-card-response [cardData]="reply.response"></app-basic-card-response>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-content>
<ion-footer keyboard-attach class="bar-stable item-input-inset">
  <div *ngIf="suggestions">
    <div *ngFor="let suggestion of suggestions">
      <ion-button color="secondary">{{suggestion.title}}</ion-button>
    </div>
  </div>
  <ion-input type="text" placeholder="Type your message" [(ngModel)]="newMessage"></ion-input>
  <button class="button button-clear" (click)="sendMessage(newMessage)">
    Send
  </button>
</ion-footer>